<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaguar.mybatisplus.generator.mapper.TableInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jaguar.mybatisplus.generator.model.TableInfo">
        <result column="table_name" property="tableName"/>
        <result column="table_comment" property="tableComment"/>
    </resultMap>

    <select id="showTables" resultMap="BaseResultMap">
        SELECT table_name, table_comment FROM information_schema.tables
        <where>
            table_schema = #{cm.schema}
            <if test="cm.fuzzyTableName != null and cm.fuzzyTableName != ''">
                AND LIKE CONCAT('%',#{cm.fuzzyTableName},'%')
            </if>
        </where>
    </select>

</mapper>
