/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

mx|Alert {
	borderSkin: ClassReference("com.lvws.designer.common.skin.AlertSkin");
	title-style-name: "titleStyle";
	fontFamily:SimSun;
}

.titleStyle {
	color: #ffffff;
}