<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaguar.process.mapper.ButtonDefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jaguar.process.model.po.ButtonDef">
        <result column="name_" property="name"/>
        <result column="label_" property="label"/>
        <result column="button_action_type" property="buttonActionType"/>
        <result column="action_" property="action"/>
        <result column="default_setting" property="defaultSetting"/>
        <result column="show_pages" property="showPages"/>
        <result column="button_position" property="buttonPosition"/>
        <result column="class_style" property="classStyle"/>
        <result column="sort_no" property="sortNo"/>
    </resultMap>


    <select id="selectIdPage" resultType="java.lang.Long">
        select id_ from button_def
        <where>
            <if test="cm.name != null and cm.name != ''">
                AND name_ = #{cm.name}
            </if>
            <if test="cm.label != null and cm.label != ''">
                AND label_ = #{cm.label}
            </if>
            <if test="cm.buttonActionType != null and cm.buttonActionType != ''">
                AND button_action_type = #{cm.buttonActionType}
            </if>
            <if test="cm.action != null and cm.action != ''">
                AND action_ = #{cm.action}
            </if>
            <if test="cm.defaultSetting != null">
                AND default_setting = #{cm.defaultSetting}
            </if>
            <if test="cm.showPages != null and cm.showPages != ''">
                AND show_pages = #{cm.showPages}
            </if>
            <if test="cm.showPage != null and cm.showPage != ''">
                AND show_pages LIKE CONCAT('%',#{cm.showPage},'%')
            </if>
            <if test="cm.buttonPosition != null and cm.buttonPosition != ''">
                AND button_position = #{cm.buttonPosition}
            </if>
            <if test="cm.classStyle != null and cm.classStyle != ''">
                AND class_style = #{cm.classStyle}
            </if>
            <if test="cm.sortNo != null and cm.sortNo != ''">
                AND sort_no = #{cm.sortNo}
            </if>
            <if test="cm.deleted != null">
                AND deleted_ = #{cm.deleted}
            </if>
        </where>
    </select>
</mapper>
