<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaguar.process.mapper.ButtonInstMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jaguar.process.model.po.ButtonInst">
        <result column="button_def_id" property="buttonDefId"/>
        <result column="process_definition_id" property="processDefinitionId"/>
        <result column="task_def_id" property="taskDefId"/>
        <result column="sort_no" property="sortNo"/>
    </resultMap>


    <select id="selectIdPage" resultType="java.lang.Long">
        select id_ from button_inst
        <where>
            <if test="cm.buttonDefId != null and cm.buttonDefId != ''">
                AND button_def_id = #{cm.buttonDefId}
            </if>
            <if test="cm.processDefinitionId != null and cm.processDefinitionId != ''">
                AND process_definition_id = #{cm.processDefinitionId}
            </if>
            <if test="cm.taskDefId != null and cm.taskDefId != ''">
                AND task_def_id = #{cm.taskDefId}
            </if>
            <if test="cm.sortNo != null and cm.sortNo != ''">
                AND sort_no = #{cm.sortNo}
            </if>
        </where>
    </select>

    <select id="queryPageButtonList" resultType="java.lang.Long">
        select bi.id_ from button_inst bi
        LEFT JOIN button_def bd on bd.id_ = bi.button_def_id
        <where>
            <if test="cm.showPage != null and cm.showPage != ''">
                AND bd.show_pages LIKE CONCAT('%',#{cm.showPage},'%')
            </if>
            <if test="cm.processDefinitionId != null and cm.processDefinitionId != ''">
                AND bi.process_definition_id = #{cm.processDefinitionId}
            </if>
            <if test="cm.taskDefId != null and cm.taskDefId != ''">
                AND bi.task_def_id = #{cm.taskDefId}
            </if>
            <if test="cm.buttonPosition != null and cm.buttonPosition != ''">
                AND bd.button_position = #{cm.buttonPosition}
            </if>
            <if test="cm.deleted != null">
                AND bi.deleted_ = #{cm.deleted}
            </if>
        </where>
        ORDER BY bi.sort_no ASC
    </select>
</mapper>
