<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaguar.process.mapper.DraftDefinitionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jaguar.process.model.po.DraftDefinition">
        <result column="element_id" property="elementId"/>
        <result column="name_" property="name"/>
        <result column="definition_type" property="definitionType"/>
        <result column="context_" property="context"/>
        <result column="version_" property="version"/>
    </resultMap>


    <select id="selectIdPage" resultType="java.lang.Long">
        select id_ from draft_definition
        <where>
            <if test="cm.elementId != null and cm.elementId != ''">
                AND element_id = #{cm.elementId}
            </if>
            <if test="cm.name != null and cm.name != ''">
                AND name_ = #{cm.name}
            </if>
            <if test="cm.definitionType != null and cm.definitionType != ''">
                AND definition_type = #{cm.definitionType}
            </if>
            <if test="cm.context != null and cm.context != ''">
                AND context_ = #{cm.context}
            </if>
            <if test="cm.version != null and cm.version != ''">
                AND version_ = #{cm.version}
            </if>
        </where>
    </select>

    <select id="queryLatest" resultType="java.lang.Long">
        SELECT id_ from draft_definition a
        RIGHT JOIN
        (SELECT name_, MAX(version_) AS max_version FROM draft_definition GROUP BY name_) b
        ON a.name_ = b.name_ and a.version_ = b.max_version
        <where>
            <if test="cm.name != null and cm.name != ''">
                AND a.name_ = #{cm.name}
            </if>
            <if test="cm.definitionType != null and cm.definitionType != ''">
                AND a.definition_type = #{cm.definitionType}
            </if>
            <if test="cm.deleted != null">
                AND deleted_ = #{cm.deleted}
            </if>
        </where>
    </select>

</mapper>
