<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaguar.process.mapper.FormTemplateFieldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jaguar.process.model.po.FormTemplateField">
        <result column="form_template_id" property="formTemplateId"/>
        <result column="form_template_sheet_id" property="formTemplateSheetId"/>
        <result column="form_template_row_id" property="formTemplateRowId"/>
        <result column="label_" property="label"/>
        <result column="key_" property="key"/>
        <result column="type_" property="type"/>
        <result column="placeholder_" property="placeholder"/>
        <result column="default_value" property="defaultValue"/>
        <result column="sort_no" property="sortNo"/>
        <result column="dic_type" property="dicType"/>
        <result column="time_pattern" property="timePattern"/>
        <result column="data_source" property="dataSource"/>
        <result column="show_column" property="showColumn"/>
        <result column="component_js_name" property="componentJsName"/>
        <result column="component_class_name" property="componentClassName"/>
    </resultMap>


    <select id="selectIdPage" resultType="java.lang.Long">
        select id_ from form_template_field
        <where>
            <if test="cm.formTemplateId != null and cm.formTemplateId != ''">
                AND form_template_id = #{cm.formTemplateId}
            </if>
            <if test="cm.formTemplateSheetId != null and cm.formTemplateSheetId != ''">
                AND form_template_sheet_id = #{cm.formTemplateSheetId}
            </if>
            <if test="cm.formTemplateRowId != null and cm.formTemplateRowId != ''">
                AND form_template_row_id = #{cm.formTemplateRowId}
            </if>
            <if test="cm.label != null and cm.label != ''">
                AND label_ = #{cm.label}
            </if>
            <if test="cm.key != null and cm.key != ''">
                AND key_ = #{cm.key}
            </if>
            <if test="cm.type != null and cm.type != ''">
                AND type_ = #{cm.type}
            </if>
            <if test="cm.placeholder != null and cm.placeholder != ''">
                AND placeholder_ = #{cm.placeholder}
            </if>
            <if test="cm.defaultValue != null and cm.defaultValue != ''">
                AND default_value = #{cm.defaultValue}
            </if>
            <if test="cm.sortNo != null and cm.sortNo != ''">
                AND sort_no = #{cm.sortNo}
            </if>
            <if test="cm.dicType != null and cm.dicType != ''">
                AND dic_type = #{cm.dicType}
            </if>
            <if test="cm.timePattern != null and cm.timePattern != ''">
                AND time_pattern = #{cm.timePattern}
            </if>
            <if test="cm.dataSource != null and cm.dataSource != ''">
                AND data_source = #{cm.dataSource}
            </if>
            <if test="cm.showColumn != null and cm.showColumn != ''">
                AND show_column = #{cm.showColumn}
            </if>
            <if test="cm.componentJsName != null and cm.componentJsName != ''">
                AND component_js_name = #{cm.componentJsName}
            </if>
            <if test="cm.componentClassName != null and cm.componentClassName != ''">
                AND component_class_name = #{cm.componentClassName}
            </if>
            AND deleted_ = #{cm.deleted}
        </where>
    </select>
</mapper>
