<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaguar.process.mapper.FormDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jaguar.process.model.po.FormData">
        <result column="process_info_id" property="processInfoId"/>
        <result column="form_template_id" property="formTemplateId"/>
        <result column="form_template_sheet_id" property="formTemplateSheetId"/>
        <result column="form_template_field_id" property="formTemplateFieldId"/>
        <result column="value_" property="value"/>
    </resultMap>


    <select id="selectIdPage" resultType="java.lang.Long">
        select id_ from form_data
        <where>
            <if test="cm.processInfoId != null and cm.processInfoId != ''">
                AND process_info_id = #{cm.processInfoId}
            </if>
            <if test="cm.formTemplateId != null and cm.formTemplateId != ''">
                AND form_template_id = #{cm.formTemplateId}
            </if>
            <if test="cm.formTemplateSheetId != null and cm.formTemplateSheetId != ''">
                AND form_template_sheet_id = #{cm.formTemplateSheetId}
            </if>
            <if test="cm.formTemplateFieldId != null and cm.formTemplateFieldId != ''">
                AND form_template_field_id = #{cm.formTemplateFieldId}
            </if>
            <if test="cm.value != null and cm.value != ''">
                AND value_ = #{cm.value}
            </if>
            <if test="cm.deleted != null">
                AND deleted_ = #{cm.deleted}
            </if>
        </where>
    </select>
</mapper>
