<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaguar.process.mapper.ProcessInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jaguar.process.model.po.ProcessInfo">
        <result column="process_definition_id" property="processDefinitionId"/>
        <result column="process_instance_id" property="processInstanceId"/>
        <result column="form_template_id" property="formTemplateId"/>
        <result column="process_num" property="processNum"/>
        <result column="initiator_" property="initiator"/>
        <result column="title_" property="title"/>
        <result column="priority_" property="priority"/>
        <result column="order_time" property="orderTime"/>
    </resultMap>


    <select id="selectIdPage" resultType="java.lang.Long">
        select id_ from process_info
        <where>
            <if test="cm.processDefinitionId != null and cm.processDefinitionId != ''">
                AND process_definition_id = #{cm.processDefinitionId}
            </if>
            <if test="cm.processInstanceId != null and cm.processInstanceId != ''">
                AND process_instance_id = #{cm.processInstanceId}
            </if>
            <if test="cm.formTemplateId != null and cm.formTemplateId != ''">
                AND form_template_id = #{cm.formTemplateId}
            </if>
            <if test="cm.processNum != null and cm.processNum != ''">
                AND process_num = #{cm.processNum}
            </if>
            <if test="cm.initiator != null and cm.initiator != ''">
                AND initiator_ = #{cm.initiator}
            </if>
            <if test="cm.title != null and cm.title != ''">
                AND title_ = #{cm.title}
            </if>
            <if test="cm.priority != null and cm.priority != ''">
                AND priority_ = #{cm.priority}
            </if>
            <if test="cm.orderTime != null and cm.orderTime != ''">
                AND order_time = #{cm.orderTime}
            </if>
            <if test="cm.deleted != null">
                AND deleted_ = #{cm.deleted}
            </if>
        </where>
    </select>
</mapper>
