<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jaguar.modules.system.mapper.LoginMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.jaguar.modules.system.mgm.model.Login">
		<id column="id" property="id" />
		<result column="principal_" property="principal" />
		<result column="credentials_" property="credentials" />
		<result column="login_ip" property="loginIp" />
		<result column="login_time" property="loginTime" />
		<result column="session_id" property="sessionId" />
		<result column="result_code" property="resultCode" />
		<result column="client_type" property="clientType" />
		<result column="client_version" property="clientVersion" />
		<result column="device_model" property="deviceModel" />
		<result column="device_sys_version" property="deviceSysVersion" />
		<result column="device_imei" property="deviceImei" />
	</resultMap>

	
</mapper>
