package ${package.Controller};

import com.lims.core.util.InstanceUtil;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.web.bind.annotation.*;
import ${package.Entity}.${entity};
import ${package.ServiceImpl}.${entity}Service;

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiParam;
import io.swagger.annotations.ApiOperation;

#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * <p>
 * ${table.comment}  前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@RestController
@Api(value = "${table.comment}管理", description = "${table.comment}管理")
@RequestMapping("/${table.name}")
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass}<${entity}Service> {
#else
public class ${table.controllerName} {
#end

    @ApiOperation(value = "查询${table.comment}")
    @RequiresPermissions("${table.entityPath}:read")
    @GetMapping(value = "/list")
    public Object query(ModelMap modelMap,
            @ApiParam(value = "页码") @RequestParam(required = false) Integer page,
            @ApiParam(value = "页量") @RequestParam(required = false) Integer rows){

        Map<String, Object> param=InstanceUtil.newHashMap();
        param.put(PAGE,page);
        param.put(ROWS,rows);
        param.put(ENABLE,1);

        return super.query(modelMap,param);
    }

    @ApiOperation(value = "${table.comment}详情")
    @RequiresPermissions("${table.entityPath}:read")
    @GetMapping(value = "/detail/{id}")
    public Object get(ModelMap modelMap,@PathVariable Long id){
        return super.get(modelMap,id);
    }

    @ApiOperation(value = "修改${table.comment}")
    @RequiresPermissions("${table.entityPath}:update")
    @PostMapping(value = "/update")
    public Object update(ModelMap modelMap, ${entity} param){
        return super.update(modelMap,param);
    }

    @ApiOperation(value = "删除${table.comment}")
    @RequiresPermissions("${table.entityPath}:update")
    @DeleteMapping(value = "/del/{id}")
    public Object del(ModelMap modelMap,@PathVariable Long id){
        return super.del(modelMap,id);
    }

    @ApiOperation(value = "删除${table.comment}")
    @RequiresPermissions("${table.entityPath}:update")
    @DeleteMapping(value = "/delete/{id}")
    public Object delete(ModelMap modelMap,@PathVariable Long id){
        return super.delete(modelMap,id);
    }
}