<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wilsonlv.jaguar.cloud.upms.mapper.RoleMenuMapper">

    <select id="listPermissionsByRoleIds" resultType="java.lang.String">
        select
        distinct m.menu_permission
        from jaguar_cloud_upms_role_menu rm
        inner join jaguar_cloud_upms_menu m on rm.menu_id = m.id_
        where rm.deleted_ = 0
        and m.deleted_ = 0
        and rm.role_id in
        <foreach collection="roleIds" open="(" separator="," close=")" item="roleId">
            #{roleId}
        </foreach>
    </select>
</mapper>
