<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wilsonlv.jaguar.cloud.upms.mapper.UserRoleMapper">

    <select id="listRoleByUserId" resultType="top.wilsonlv.jaguar.cloud.upms.sdk.vo.RoleVO">
        SELECT r.*
        FROM jaguar_cloud_upms_user_role ur
                 LEFT JOIN jaguar_cloud_upms_role r ON r.id_ = ur.role_id
        WHERE ur.deleted_ = 0
          AND r.deleted_ = 0
          AND r.role_enable = 1
          AND ur.user_id = #{userId}
    </select>

    <select id="listUserByRoleId" resultType="top.wilsonlv.jaguar.cloud.upms.sdk.vo.UserVO">
        SELECT u.user_account,
               u.user_phone,
               u.user_email,
               u.user_nick_name
        FROM jaguar_cloud_upms_user_role ur
                 LEFT JOIN jaguar_cloud_upms_user u ON u.id_ = ur.user_id
        WHERE ur.deleted_ = 0
          AND u.deleted_ = 0
          AND ur.role_id = #{roleId}
    </select>

</mapper>
