<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jaguar.codegen.mapper.CodeTemplateMapper">

    <select id="findLatest" resultType="org.jaguar.codegen.model.CodeTemplate">
        select ct.*
        from jaguar_codegen_code_template ct
                 inner join
             (
                 select code_template_name, max(code_template_version) as code_template_version
                 from jaguar_codegen_code_template
                 group by code_template_name
             ) a on a.code_template_name = ct.code_template_name and
                    a.code_template_version = ct.code_template_version
    </select>

</mapper>
