<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jaguar.cloud.upms.server.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jaguar.cloud.upms.server.model.UserRole">
        <id column="id_" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

    <select id="listRoleByUserId" resultType="org.jaguar.cloud.upms.server.model.Role">
        SELECT r.*
        FROM jaguar_modules_system_user_role ur
                 LEFT JOIN jaguar_modules_system_role r ON r.id_ = ur.role_id
        WHERE ur.deleted_ = 0
          AND r.deleted_ = 0
          AND r.role_enable = 1
          AND ur.user_id = #{userId}
    </select>

    <select id="listUserByRoleId" resultType="org.jaguar.cloud.upms.server.model.User">
        SELECT u.user_account,
               u.user_phone,
               u.user_email,
               u.user_nick_name
        FROM jaguar_modules_system_user_role ur
                 LEFT JOIN jaguar_modules_system_user u ON u.id_ = ur.user_id
        WHERE ur.deleted_ = 0
          AND u.deleted_ = 0
          AND ur.role_id = #{roleId}
    </select>

    <select id="listMenuFunctionNamesByUserId" resultType="java.lang.String">
        SELECT DISTINCT menu_function_name
        FROM jaguar_modules_system_role_menu rm
                 INNER JOIN jaguar_modules_system_role r ON r.id_ = rm.role_id
                 INNER JOIN jaguar_modules_system_user_role ur ON ur.role_id = r.id_
        WHERE rm.deleted_ = 0
          AND r.deleted_ = 0
          AND ur.deleted_ = 0
          AND r.role_enable = 1
          AND ur.user_id = #{userId}
    </select>

</mapper>
