<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jaguar.modules.numbering.mapper.RuleItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jaguar.modules.numbering.model.RuleItem">
        <id column="id_" property="id"/>
        <result column="rule_id" property="ruleId"/>
        <result column="numbering_rule_item_type" property="numberingRuleItemType"/>
        <result column="name_" property="name"/>
        <result column="level_" property="level"/>
        <result column="length_" property="length"/>
        <result column="sort_no" property="sortNo"/>
    </resultMap>

</mapper>
