<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jaguar.modules.numbering.mapper.RuleSerialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jaguar.modules.numbering.model.RuleSerial">
        <id column="id_" property="id"/>
        <result column="rule_id" property="ruleId"/>
        <result column="rule_item_id" property="ruleItemId"/>
        <result column="parttern_" property="parttern"/>
        <result column="serial_number" property="serialNumber"/>
    </resultMap>

    <!-- 执行传入的任意sql语句 并按照顺序取出查询的结果集 -->
    <select id="execute" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        ${sql}
    </select>

</mapper>
