<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jaguar.modules.workflow.mapper.ButtonDefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jaguar.modules.workflow.model.po.ButtonDef">
        <result column="id" property="id"/>
        <result column="name_" property="name"/>
        <result column="label_" property="label"/>
        <result column="button_action_type" property="buttonActionType"/>
        <result column="default_setting" property="defaultSetting"/>
        <result column="show_pages" property="showPages"/>
        <result column="button_position" property="buttonPosition"/>
        <result column="component_" property="component"/>
        <result column="sort_no" property="sortNo"/>
        <result column="remark_" property="remark"/>
        <result column="params_" property="params"/>
    </resultMap>

    <select id="queryButtonInstList" resultMap="BaseResultMap">
        SELECT bd.*, bi.params_
        FROM jaguar_modules_workflow_button_inst bi
        LEFT JOIN jaguar_modules_workflow_button_def bd on bd.id = bi.button_def_id
        <where>
            bi.deleted_ = 0 AND bd.deleted_ = 0
            <if test="p.showPage != null and p.showPage != ''">
                AND bd.show_pages LIKE CONCAT('%',#{p.showPage},'%')
            </if>
            <if test="p.processDefinitionKey != null and p.processDefinitionKey != ''">
                AND bi.process_definition_key = #{p.processDefinitionKey}
            </if>
            <if test="p.taskDefName != null and p.taskDefName != ''">
                AND bi.task_def_name = #{p.taskDefName}
            </if>
            <if test="p.buttonPosition != null and p.buttonPosition != ''">
                AND bd.button_position = #{p.buttonPosition}
            </if>
        </where>
        ORDER BY bi.sort_no ASC
    </select>

</mapper>
