<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itqingning.lucy.process.mapper.ButtonInstMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jaguar.modules.workflow.model.po.ButtonInst">
        <result column="button_def_id" property="buttonDefId"/>
        <result column="process_definition_key" property="processDefinitionKey"/>
        <result column="task_def_name" property="taskDefName"/>
        <result column="sort_no" property="sortNo"/>
        <result column="params_" property="params"/>
    </resultMap>
</mapper>
