<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itqingning.lucy.process.mapper.FormDataAttachMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jaguar.modules.workflow.model.po.FormDataAttach">
        <result column="form_data_id" property="formDataId"/>
        <result column="value_" property="value"/>
    </resultMap>

</mapper>
