<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jaguar.modules.workflow.mapper.FormTemplateSheetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jaguar.modules.workflow.model.po.FormTemplateSheet">
        <result column="form_template_id" property="formTemplateId"/>
        <result column="element_id" property="elementId"/>
        <result column="name_" property="name"/>
        <result column="sort_no" property="sortNo"/>
    </resultMap>

</mapper>
