<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jaguar.modules.workflow.mapper.FormDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jaguar.modules.workflow.model.po.FormData">
        <result column="process_info_id" property="processInfoId"/>
        <result column="form_template_id" property="formTemplateId"/>
        <result column="form_template_sheet_id" property="formTemplateSheetId"/>
        <result column="form_template_field_id" property="formTemplateFieldId"/>
        <result column="form_data_persistence_type" property="formDataPersistenceType"/>
        <result column="field_key" property="fieldKey"/>
        <result column="value_" property="value"/>
        <result column="batch_num" property="batchNum"/>
    </resultMap>

    <select id="getByKeyAndValueInProcessDefinition" resultMap="BaseResultMap">
        SELECT d.*
        FROM jaguar_modules_workflow_form_data d
                 INNER JOIN jaguar_modules_workflow_info info on info.id = d.process_info_id
                 INNER JOIN act_re_procdef def on def.ID_ = info.process_definition_id
        WHERE def.NAME_ = #{processDefinitionName}
          AND d.field_key = #{key}
          AND d.value_ = #{value}
          AND info.deleted_ = 0
        LIMIT 0, 1
    </select>

    <select id="queryOverride" resultMap="BaseResultMap">
        SELECT d.*,
               f.label_
        FROM jaguar_modules_workflow_form_data d
                 LEFT JOIN jaguar_modules_workflow_form_template_sheet s ON s.id = d.form_template_sheet_id
                 LEFT JOIN jaguar_modules_workflow_form_template_field f ON f.id = d.form_template_field_id
                 LEFT JOIN jaguar_modules_workflow_form_template_row r ON r.id = f.form_template_row_id
        <where>
            s.override_ = 1
            AND d.process_info_id = #{processInfoId}
            <if test="fuzzyFieldKey != null and fuzzyFieldKey != ''">
                AND d.field_key LIKE CONCAT('%', #{fuzzyFieldKey}, '%')
            </if>
            <if test="fuzzyFieldLabel != null and fuzzyFieldLabel != ''">
                AND f.label_ LIKE CONCAT('%', #{fuzzyFieldLabel}, '%')
            </if>
        </where>
        ORDER BY s.sort_no, r.sort_no, f.sort_no
    </select>
</mapper>
