<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jaguar.modules.workflow.mapper.ProcessInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jaguar.modules.workflow.model.po.ProcessInfo">
        <result column="process_definition_id" property="processDefinitionId"/>
        <result column="process_instance_id" property="processInstanceId"/>
        <result column="form_template_id" property="formTemplateId"/>
        <result column="process_num" property="processNum"/>
        <result column="initiator_" property="initiator"/>
        <result column="title_" property="title"/>
        <result column="priority_" property="priority"/>
        <result column="order_time" property="orderTime"/>
        <result column="suspend_" property="suspend"/>
    </resultMap>

</mapper>
